<aside 
[ngClass]="{
    'left':lang=='en',
    'right':lang=='ar',
    'smallScreenLeft':lang=='en'&&navbarservice.openSideNav,
    'smallScreenRight':lang=='ar'&&navbarservice.openSideNav
}"

>
    <div class="logo-area d-flex align-items-center">
        <img src="assets/logo.svg" alt="">
        <div class="mx-2"></div>
        <h1>VEX</h1>
    </div>

    <ul class="m-0 p-0 list-unstyled">
        <li class="title">
            {{'owners.owners' | translate}}
        </li>
        <li>
            <a 
            routerLinkActive="active"
            (click)="navbarservice.openSideNav=false"
            routerLink="/home/ownres/add-owenrs-data">
                <i class="fa-solid fa-newspaper"></i>
                <span class="mx-2"></span>
               {{'owners.add-owners' | translate}}
            </a>
        </li>
        <li>    
            <a 
            (click)="navbarservice.openSideNav=false"
            routerLinkActive="active"
            routerLink="/home/ownres/owenrs-data">
            <i class="fa-solid fa-clock"></i>
                <span class="mx-2"></span>
                {{'owners.owner-data' | translate}}
            </a>
        </li>
        <li class="title mt-3">
            {{'customers.customers' | translate}}
        </li>
        <li>
            <a 
            routerLinkActive="active"
            (click)="navbarservice.openSideNav=false"
            routerLink="/home/customers/add-customers">
                <i class="fa-solid fa-newspaper"></i>
                <span class="mx-2"></span>
               {{'customers.add-customers' | translate}}
            </a>
        </li>
        <li>    
            <a 
            (click)="navbarservice.openSideNav=false"
            routerLinkActive="active"
            routerLink="/home/customers/all-customers">
            <i class="fa-solid fa-clock"></i>
                <span class="mx-2"></span>
                {{'customers.all-customers' | translate}}
            </a>
        </li>
    </ul>
</aside>