
    <section 
    class="container-fluid page-form">
    
            <div class="page-bg">
           
                
                    <form (ngSubmit)="submitOwnersDataForm(ownersDataForm)" [formGroup]="ownersDataForm" class="row ">
                        <h2 class="page-title">{{'owners.owner-data' | translate}}</h2>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'owners.owner-code' | translate}}</mat-label>
                                    <input type="number" matInput placeholder="{{'owners.owner-code' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner Code -->
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'owners.owner-name' | translate}}</mat-label>
                                    <input matInput placeholder="{{'owners.owner-name' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner Name -->
                        <div 
                  
                        class="col-md-6 mb-3">
                            <div
                            style="position: relative;" 
                            class="form-group">
                                <label for="">Nationality</label>
                                <div 
                                style="border:1px solid gray;padding:10px"
                                (click)="showNationalitesList()"
                                class="d-flex justify-content-between">
                                    <span>{{selectedNationality || 'Select Nationality'}}</span>
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>
                               <div 
                               *ngIf="shownationalitiesList"
                               style="    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);height: 155px;overflow: auto;position: absolute;width: 100%;background-color: white;z-index: 111;"
                               class="list">
                               <input
                               #nationalityInput
                               (blur)="hideNationalitesList()"
                               (keyup)="searchForNationality(nationalityInput)"
                               placeholder="Search"
                               type="text">
                             
                                <p
                                (click)="selectNAtionality(item)"
                                class="p-3 m-0 cutsom-list-item"
                                *ngFor="let item of nationalities">{{item}}</p>
                            </div>
                            </div>
                          
                        </div>
                        <!-- end Nationality -->
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.address' | translate}}</mat-label>
                                    <input matInput placeholder="{{'glopal.address' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner Address -->
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.identity-number' | translate}}</mat-label>
                                    <input matInput placeholder="{{'glopal.identity-number' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner identity number -->
                 
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.identity-source' | translate}}</mat-label>
                                    <input type="text" placeholder="{{'glopal.identity-source' | translate}}" aria-label="Number"
                                        matInput [formControl]="sourceControl" [matAutocomplete]="autoo">
                                    <mat-autocomplete #autoo="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredSource | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner identity source -->
                        <div class="col-md-6 mb-3">
                            <label for="">{{'glopal.identity-en-date' | translate}}</label>
                            <div class="form-group ">
                                    <app-owners-en-date></app-owners-en-date>
                            </div>
                        </div>
                        <!-- end Owner identity en Date -->
                        <div class="col-md-6 mb-3">
                            <label for="">{{'glopal.identity-ar-date' | translate}}</label>
                            <div class="form-group ">
                                    <app-owners-hjri-date></app-owners-hjri-date>
                            </div>
                        </div>
                        <!-- end Owner identity ar Date -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.mobile-mobile' | translate}}</mat-label>
                                    <input formControlName="mobileNumber" matInput
                                        placeholder="{{'glopal.mobile-mobile' | translate}}">
                                </mat-form-field>
                                <p *ngIf="ownersDataForm.controls.mobileNumber?.errors!=null && 
                               ownersDataForm.controls.mobileNumber.touched" class="text-danger my-1">
                                    {{'glopal.mobile-error' | translate}}
                                </p>
            
                            </div>
                        </div>
                        <!-- end Owner Mobile number -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.phone-number' | translate}}</mat-label>
                                    <input matInput placeholder="{{'glopal.phone-number' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner Phone Number -->
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.fax-number' | translate}}</mat-label>
                                    <input matInput placeholder="{{'glopal.fax-number' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner Fax Number -->
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.contact-person' | translate}}</mat-label>
                                    <input matInput placeholder="{{'glopal.contact-person' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner Contact Person -->
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.contact-person-number' | translate}}</mat-label>
                                    <input matInput placeholder="{{'glopal.contact-person-number' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner Contact Person Number  -->
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.account-number' | translate}}</mat-label>
                                    <input matInput placeholder="{{'glopal.account-number' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner Account Number -->
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'glopal.bank-name' | translate}}</mat-label>
                                    <input matInput placeholder="{{'glopal.bank-name' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end Owner Bank Number    -->
                   
                        <div class="d-flex justify-content-end">
                            <button 
                            class="btn btn-light">
                                <a 
                                style="text-decoration:none !important;color:black !important"
                                routerLink="/home/ownres/owenrs-data">
                                    {{'glopal.view-all' | translate}}
                                </a>
                            </button>
                            <div class="mx-2"></div>
                            <button 
                            class="btn btn-primary">{{'glopal.submit' | translate}}</button>
                                
                        </div>
                       
                    </form>
                </div>
              
      
      
    </section>

