<section class="container-fluid task-one">
   <div class="page-bg">
    <form class="row align-items-center">
        <h2 class="page-title">{{'test.owner-data' | translate}}</h2>
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.owner-code' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Code -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.owner-name' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Name -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.nationality' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Nationality -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="text"  placeholder="{{'test.address' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Address -->
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <input type="text"  placeholder="{{'test.identity-number' | translate}}"  class="form-control">
            </div>
        </div>
        <!-- end Owner identity number -->
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <div class="mb-2">
                    <label for="">{{'test.identity-date' | translate}}  

                        <span *ngIf="model!='undefiend'">
                            {{model|json}}
                        </span>
                    </label>
                </div>
                <button class="btn btn-sm btn-outline-primary" (click)="open(hijri)">Ar</button>
                <span class="mx-2"></span>
                <button class="btn btn-sm btn-outline-primary" (click)="open(en)">En</button>
            </div>
        </div>
        <!-- end Owner identity Date -->
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.identity-source' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner identity source -->
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.mobile-mobile' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Mobile number -->
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <input type="text"  placeholder="{{'test.phone-number' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Phone Number -->
        <div class="col-md-4 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.fax-number' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Fax Number -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.contact-person' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Contact Person -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.contact-person-number' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Contact Person Number  -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.account-number' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Account Number -->
        <div class="col-md-6 mb-3">
            <div class="form-group">
                <input type="text" placeholder="{{'test.bank-name' | translate}}" class="form-control">
            </div>
        </div>
        <!-- end Owner Bank Number    -->
        <div 
 
        class="d-flex justify-content-end">
            <button class="btn btn-light">{{'test.cancel' | translate}}</button>
            <span class="mx-2"></span>
            <button class="btn btn-primary">{{'test.submit' | translate}}</button>
        </div>
    </form>
   </div>
</section>
<!-- start hijri date modal -->
<ng-template #hijri let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'test.identity-date' | translate}} </h4>
      <i 
      [ngStyle]="{
        right:currentLang=='en' ? '20px' : 'auto',
        left:currentLang=='ar' ? '20px' : 'auto'
    }"
      style="position: absolute;top:20px;font-size: 20px;cursor: pointer;"
      (click)="modal.dismiss('Cross click')"
      class="fa-solid fa-xmark"></i>
    </div>
    <div class="modal-body">
       <app-higri-date (modelChild)="selectArabicDate($event)"></app-higri-date>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">{{'test.save' | translate}} </button>
    </div>
  </ng-template>
<!-- end hijri date modal -->
<!-- start hijri date modal -->
<ng-template #en let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{'test.identity-date' | translate}} </h4>
      <i 
      [ngStyle]="{
        right:currentLang=='en' ? '20px' : 'auto',
        left:currentLang=='ar' ? '20px' : 'auto'
    }"
      style="position: absolute;top:20px;font-size: 20px;cursor: pointer;"
      (click)="modal.dismiss('Cross click')"
      class="fa-solid fa-xmark"></i>
    </div>
    <div class="modal-body">
        <div 
        style="direction: ltr;text-align: left;"
        class="d-flex justify-content-center">
            <ngb-datepicker #dp [(ngModel)]="model" ></ngb-datepicker>

        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">
        {{'test.save' | translate}}
      </button>
    </div>
  </ng-template>
<!-- end hijri date modal -->