<section class="container-fluid table-date">
    <div class="d-md-flex align-items-center table-bg">
        <h1
        class="mb-3 mb-md-0"
        style="color: white;margin: 0;"
        >{{'owners.owner-data' | translate}}</h1>
        <div class="mx-3"></div>
        <input type="search"
        placeholder="{{'glopal.search' | translate}}"
        class="table-search" name="" id="">
    </div>
    <div  class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">{{'test.t' | translate}}</th>
            <th scope="col">{{'test.t' | translate}}</th>
            <th scope="col">{{'test.t' | translate}}</th>
            <th scope="col">{{'test.t' | translate}}</th>
            <th scope="col">{{'test.t' | translate}}</th>
            <th scope="col"> 
              {{'glopal.actions' | translate}} 
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
            <td>four</td>
            <td>five</td>
            <td> 
              <i class="fa-solid fa-trash bg-danger "></i>
              <span class="mx-2"></span>
              <i class="fa-solid fa-pen"></i>  
            </td>
          </tr>
          <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
            <td>four</td>
            <td>five</td>
            <td> 
              <i class="fa-solid fa-trash bg-danger "></i>
              <span class="m-2"></span>
              <i class="fa-solid fa-pen"></i>  
            </td>
          </tr>
          <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
            <td>four</td>
            <td>five</td>
            <td> 
              <i class="fa-solid fa-trash bg-danger"></i>
              <span class="mx-2"></span>
              <i class="fa-solid fa-pen"></i>  
            </td>
          </tr>
          <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
            <td>four</td>
            <td>five</td>
            <td> 
              <i class="fa-solid fa-trash bg-danger"></i>
              <span class="mx-2"></span>
              <i class="fa-solid fa-pen"></i>  
            </td>
          </tr>
          <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
            <td>four</td>
            <td>five</td>
            <td> 
              <i class="fa-solid fa-trash bg-danger"></i>
              <span class="mx-2"></span>
              <i class="fa-solid fa-pen"></i>  
            </td>
          </tr>
          <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
            <td>four</td>
            <td>five</td>
            <td> 
              <i class="fa-solid fa-trash bg-danger"></i>
              <span class="mx-2"></span>
              <i class="fa-solid fa-pen"></i>  
            </td>
          </tr>
          <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
            <td>four</td>
            <td>five</td>
            <td> 
              <i class="fa-solid fa-trash bg-danger"></i>
              <span class="mx-2"></span>
              <i class="fa-solid fa-pen"></i>  
            </td>
          </tr>
          <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
            <td>four</td>
            <td>five</td>
            <td> 
              <i class="fa-solid fa-trash bg-danger"></i>
              <span class="mx-2"></span>
              <i class="fa-solid fa-pen"></i>  
            </td>
          </tr>
          <tr>
            <td>one</td>
            <td>two</td>
            <td>three</td>
            <td>four</td>
            <td>five</td>
            <td> 
              <i class="fa-solid fa-trash bg-danger"></i>
              <span class="mx-2"></span>
              <i class="fa-solid fa-pen"></i>  
            </td>
          </tr>
        </tbody>
    
      </table>
    </div>

      <div class="my-3 d-flex justify-content-center">
        <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination"></ngb-pagination>
      </div>
</section>