
    <section 
    class="container-fluid page-form">
    
            <div class="page-bg">
           
                
                    <form  class="row ">
                        <h2 class="page-title">{{'real-estate.main-real-estate-data' | translate}}</h2>
             
                  
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'real-estate.estate-number' | translate}}</mat-label>
                                    <input 
                                    type="number"
                                    matInput placeholder="{{'real-estate.estate-number' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end real estate number -->
                    
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <mat-form-field class="example-full-width w-100" appearance="fill">
                                    <mat-label>{{'real-estate.estate-name' | translate}}</mat-label>
                                    <input 
                                    matInput placeholder="{{'real-estate.estate-name' | translate}}">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- end real estate name -->
                   
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary">{{'glopal.submit' | translate}}</button>
                        </div>
                    </form>
                </div>
              
      
      
    </section>

